<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  <% if (typeof post !== 'undefined' && post) { %>
    <%= post.user.name %> on Texter: "<%= post.title %>"
  <% } else if (typeof posts !== 'undefined' && posts && Array.isArray(posts.posts) && posts.posts.length > 0) { %>
    See <%= posts.posts[0].user.name %> on Texter
  <% } else { %>
    Texter
  <% } %>
</title>

<link rel="icon" type="image/x-icon" href="https://ik.imagekit.io/9hpbqscxd/SG/image-61.jpg?updatedAt=1705798245623">
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="
  <% if (typeof post !== 'undefined' && post) { %>
    <%= post.desc ? post.desc : 'Texter, Media Sosial Berbasis Text' %>
  <% } else if (typeof posts !== 'undefined' && posts && Array.isArray(posts.posts) && posts.posts.length > 0) { %>
    <%= posts.posts[0].user.desc !== '' ? posts.posts[0].user.desc : 'Texter, Media Sosial Berbasis Text' %>
  <% } else { %>
    Texter, Media Sosial Berbasis Text
  <% } %>
" />
<meta name="twitter:image" content="
  <% if (typeof post !== 'undefined' && post && post.img) { %>
    <%= post.img %>
  <% } else if (typeof posts !== 'undefined' && posts && Array.isArray(posts.posts) && posts.posts.length > 0) { %>
    <%= posts.posts[0].user.pp %>
  <% } else { %>
    https://ik.imagekit.io/9hpbqscxd/SG/image-61.jpg?updatedAt=1705798245623
  <% } %>
" />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:title" content="
  <% if (typeof post !== 'undefined' && post) { %>
    <%= post.title %>
  <% } else if (typeof posts !== 'undefined' && posts && Array.isArray(posts.posts) && posts.posts.length > 0) { %>
    See <%= posts.posts[0].user.name %>
  <% } else { %>
    Texter
  <% } %>
" />
<meta property="og:description" content="
  <% if (typeof post !== 'undefined' && post) { %>
    <%= post.desc ? post.desc : 'Texter, Media Sosial Berbasis Text' %>
  <% } else if (typeof posts !== 'undefined' && posts && Array.isArray(posts.posts) && posts.posts.length > 0) { %>
    <%= posts.posts[0].user.desc !== '' ? posts.posts[0].user.desc : 'Texter, Media Sosial Berbasis Text' %>
  <% } else { %>
    Texter, Media Sosial Berbasis Text
  <% } %>
" />
<meta property="og:image" content="
  <% if (typeof post !== 'undefined' && post && post.img) { %>
    <%= post.img %>
  <% } else if (typeof posts !== 'undefined' && posts && Array.isArray(posts.posts) && posts.posts.length > 0) { %>
    <%= posts.posts[0].user.pp %>
  <% } else { %>
    https://ik.imagekit.io/9hpbqscxd/SG/image-61.jpg?updatedAt=1705798245623
  <% } %>
" />

<!-- Application Name -->
<meta name="application-name" content="Texter" />

    <script
      src="https://kit.fontawesome.com/f72e788797.js"
      crossorigin="anonymous"
    ></script>
    <link href="./style.css" rel="stylesheet" />
    <link href=".././style.css" rel="stylesheet" />
    <link href="../../../style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark-glass">
      <a class="navbar-brand mx-auto" href="/">
        <img src="https://ik.imagekit.io/9hpbqscxd/SG/image-61.jpg?updatedAt=1705798245623" width="30" height="30" alt="">
      </a>
    </nav>
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12 col-lg-3 h-100 sticky-on-navbar" id="col-lb-2">
          <div
            class="card bg-dark text-white border-light d-none d-lg-flex rounded-lg"
            style="max-width: 400px"
          >
            <div class="card-body">
              <input
                type="text"
                autocomplete="off"
                value="<%= searchTerm %>"
                id="searchInput"
                class="form-control"
                placeholder="Search..."
              />
            </div>
          </div>

          <div
            class="card bg-dark text-white border-light d-none d-lg-flex pt-3 rounded-lg mt-3"
          >
            <a href="#" id="myDetails" class="d-lg-flex">
              <img
                class="rounded-circle mx-auto"
                style="
                  width: 100%;
                  height: 100%;
                  max-width: 150px;
                  max-height: 150px;
                  border: 2px solid var(--accent1);
                "
                id="mypfp"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                alt="Card image"
              />
            </a>
            <div class="card-body">
              <h4 class="card-title text-center" id="myname"></h4>
              <p
                class="card-text text-secondary text-center"
                id="myusername"
              ></p>
              <p
                class="card-text"
                id="mydesc"
                style="height: fit-content !important"
              ></p>
              <hr
                style="
                  opacity: 100%;
                  border-top: 1px solid var(--accent1) !important;
                "
              />
              <p
                class="card-text"
                id="myfollowing"
                style="color: var(--accent1)"
              >
                <i class="fa-solid fa-user-group"></i> following
              </p>
              <p
                class="card-text"
                id="myfollowers"
                style="color: var(--accent2)"
              >
                <i class="fa-solid fa-user-group"></i> followers
              </p>
              <div class="text-center">
                <a
                  href="/"
                  class="btn btn-primary rounded-pill ms-3"
                  style="width: 70%; font-size: x-large"
                  >Post</a
                >
              </div>
            </div>
          </div>
          <div
            class="card bg-dark text-white d-none d-lg-flex border-light p-3 rounded-lg mt-3"
          >
            <h5>Made By Fathin</h5>
            <p class="mb-0">
              made by
              <a href="https://www.fathin.my.id" class="text-info"
                >M.Fathin Halim</a
              >
            </p>
            <hr
              style="
                opacity: 100%;
                border-top: 1px solid var(--success) !important;
              "
            />
            <a class="text-warning" href="https://saweria.co/mfathinhalim"
              >Support This Web In Saweria^^</a
            >
          </div>
        </div>
      <div class="col-lg-6 col-auto">