<%- include("partials/header.ejs") %>   
<div id="loading-screen" class="d-none">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Loading...</p>
</div>
<% if(post) { %>

<div class="card bg-dark text-white p-3 border-light rounded-0">
  <% if(post.repost) { %> <p class="text-secondary mb-1 ms-1"><i class="fa-solid fa-recycle"></i> <%= post.user.name %> reposted</p> <% } %>
  <a
    href="/user/details/<%= post.user.username %>"
    class="d-flex justify-content-between mb-0"
  >
    <article class="d-flex align-items-center">
      <button class="btn btn-outline-light m-2 ms-0 pb-0 pt-0 text-center" onclick="history.back()" 
      style=" border: none !important; height:fit-content">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <img src="<%= post.repost ? post.repost.pp : post.user.pp %>" class="pfp rounded-circle ms-1" />
    <div class="d-flex flex-column ms-2 me-auto">
      <!-- ms-2 untuk margin kiri 2, me-auto untuk margin kanan otomatis -->
      <h5 class="mb-0">
        <%= post.repost ? post.repost.name : post.user.name %>
      </h5>
      <h5 class="text-secondary"><%= post.time %></h5>
    </div>
    </article>
    <button class="btn btn-outline-light rounded-pill ms-2" onclick="report('<%= post._id %>', this)" 
      style=" border: none !important;">
        <i class="fa-solid fa-flag"></i>
    </button>
  </a>
<h5 class="mt-2 mb-2">
  <%- post.title.replace(/#(\w+)/g, '<a href="/?search=$1" class="text-info">$&</a>') %>
</h5>
  <% if(post.img) { %>
    <% if(post.img.includes(".mp4") || post.img.includes(".ogg")) { %>
      <video height="450" class="mb-3 border-light" loop style="border-radius: 2% !important" controls>
        <source src="<%= post.img %>" type="video/mp4">
      </video>
      <% }else { %>
      <img
        style="border-radius: 2% !important"
        class="mb-3 border-light"
        src="<%= post.img %>"
      />
  <% }} %> <% if(post.reQuote) { %>
  <div class="card bg-dark text-white p-3 pt-2 mb-2 mt-2 border-1 border-light">
    <a href="/?id=<%= post.reQuote.id %>">
      <article class="d-flex pt-2">
        <img class="pfp rounded-circle" src="<%= post.reQuote.user.pp %>" />
        <div class="ms-2">
          <h5 class="mb-1"><%= post.reQuote.user.name.replace(/<[^>]+>/g, "") %></h5>
          <h5 class="text-secondary"><%= post.reQuote.time %></h5>
        </div>
      </article>
      <h5 class="ms-2 h4 mt-2">
        <%= post.reQuote.title.replace(/<[^>]+>/g, "") %>
      </h5>
      <% if(post.reQuote.img) { %>
    <% if(post.reQuote.img.includes(".mp4") || post.reQuote.img.includes(".ogg")) { %>
      <video height="450" class="border-light" loop style="border-radius: 2% !important; width: 100%;" controls>
        <source src="<%= post.reQuote.img %>" type="video/mp4">
      </video>
      <% }else { %>
      <img
      class="border-light"
        style="border-radius: 2% !important"
        src="<%= post.reQuote.img %>"
      />
  <% }} %> 
    </a>
  </div>
  <% } %>
  <div class="d-flex mb-2">
    <button
      class="btn btn-outline-danger rounded-pill"
      onclick="sendLikeRequest('<%= post.id %>', this)"
    >
      <i class="fa-solid fa-heart"></i> <%= post.like.users.length %>
    </button>
    <a
      href="#reply"
      class="btn btn-outline-secondary rounded-pill text-black ms-2"
    >
      <i class="fa-solid fa-comment"></i>
    </a>
    <button
      class="btn btn-outline-success rounded-pill ms-2"
      onclick="sendPostRequest(undefined, undefined, undefined, '<%= post.id %>', '<%= post.user._id %>', '<%= post.title %>')"
    >
      <i class="fa-solid fa-recycle"></i>
    </button>
    <button class="btn btn-outline-info rounded-pill ms-2" onclick='share("/?id=$<%= post.id %>")'><i class="fa-solid fa-share"></i></button>
    <button
      class="btn btn-outline-secondary rounded-pill ms-2"
      onclick="createBookmark('<%= post._id %>')"
    >
      <i class="fa-solid fa-bookmark"></i>
    </button>

  </div>
</div>
<form
  class="bg-dark text-white post p-3 border-light rounded-0 pb-0"
  id="reply"
  onsubmit="sendPostRequest(this, '<%= post.id %>', undefined, undefined, undefined, undefined, 'imgReply')"
>
  <div class="d-flex flex-column mb-2">
    <div class="d-flex mb-2">
      <img
      class="rounded-circle"
      style="
      width: 100%;
      height: 100%;
      max-width: 60px;
      max-height: 60px;
      "
      id="mypfp"
      src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
      alt="Card image"
      />
      <div class="ms-2 mt-0">
        <h5 class="card-title" id="myname"></h5>
      <h5 class="text-secondary" id="currentTime"></h5>
      </div>
                
    </div>
    <textarea
      type="text"
      class="form-control border-0"
        style="font-size:larger;"
      id="title"
      name="title"
      placeholder="Post your reply"
    ></textarea>
  </div>
      <img
      style="border-radius: 2% !important"
      class="mb-3"
      id="previewReply"
      onerror="this.remove()"
    />
          <video id="previewReply" height="450" class="mb-3 border-light d-none" loop style="width:100%; border-radius: 2% !important" onerror="this.remove()" controls>
        <source id="videoPreview" type="video/mp4">
      </video>
  <div class="mb-3 d-flex justify-content-between">
    <input
      type="file"
      class="form-control d-none"
      id="imgReply"
      name="image"
    />
    <label
      for="imgReply"
      class="btn btn-outline-secondary rounded-pill p-3 pt-2 pb-2"
      style="font-size: larger"
    >
      <i class="fa-solid fa-file"></i>
    </label>
    <button
      type="submit"
      class="btn btn-warning rounded-pill p-4 pt-2 pb-2"
      style="font-size: larger"
    >
      Reply
    </button>
  </div>
</form>
<form
  class="bg-dark text-white post p-3 border-light rounded-0 pb-0"
  onsubmit="sendPostRequest(this, undefined, '<%= post.id %>', undefined, undefined, undefined, 'imgRequote')"
>
  <div class="d-flex flex-column mb-2">
    <div class="d-flex mb-2">
      <img
      class="rounded-circle"
      style="
      width: 100%;
      height: 100%;
      max-width: 60px;
      max-height: 60px;
      "
      id="mypfp"
      src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
      alt="Card image"
      />
      <div class="ms-2 mt-0">
        <h5 class="card-title" id="myname"></h5>
      <h5 class="text-secondary" id="currentTime"></h5>
      </div>
                
    </div>
    <textarea
      type="text"
      class="form-control border-0"
      id="title"
        style="font-size:larger;"
      name="title"
      placeholder="Type your quote here!"
    ></textarea>
  </div>
        <img
      style="border-radius: 2% !important"
      class="mb-3"
      id="previewRequote"
      onerror="this.remove()"
    />
          <video id="previewRequote" height="450" class="mb-3 border-light d-none" loop style="width:100%;border-radius: 2% !important" onerror="this.remove()" controls>
        <source id="videoPreview" type="video/mp4">
      </video>
  <div class="mb-3 d-flex justify-content-between">
    <input
      type="file"
      class="form-control d-none"
      id="imgRequote"
      name="image"
    />
    <label
      for="imgRequote"
      class="btn btn-outline-secondary rounded-pill p-3 pt-2 pb-2"
      style="font-size: larger"
    >
      <i class="fa-solid fa-file"></i>
    </label>
    <button
      type="submit"
      class="btn btn-success rounded-pill p-4 pt-2 pb-2"
      style="font-size: larger"
    >
      Quote
    </button>
  </div>
</form>

<% replies.forEach((reply) => { %>
<div class="card bg-dark text-white p-3 post rounded-0 border-light">
  <a href="/?id=<%=reply.id %>">
    <article
      class="d-flex align-items-center"
    >
      <img src="<%= reply.user.pp %>" class="pfp rounded-circle" />
      <div class="d-flex flex-column ms-2 me-auto pt-2">
        <!-- ms-2 untuk margin kiri 2, me-auto untuk margin kanan otomatis -->
        <h5>
          <%= reply.user.name.replace(/<[^>]+>/g, "") %> <%= reply.reQuote ? `is
          Requote to ${reply.reQuote.user.name.replace(/<[^>]+>/g, "")}` : "" %>
        </h5>
        <h5 class="text-secondary"><%= reply.time %></h5>
      </div>
    </article>
    <h5 class="mt-1"><%= reply.title.replace(/<[^>]+>/g, "") %></h5>
    <% if(reply.img) { %>
    <img style="border-radius: 2% !important" src="<%= reply.img %>" />
    <% } %>
  </a>
  <div class="d-flex mb-2">
    <button
      class="btn btn-outline-danger rounded-pill"
      onclick="sendLikeRequest('<%= reply.id %>', this)"
    >
      <i class="fa-solid fa-heart"></i> <%= reply.like.users.length %>
    </button>
    <a
      href="/?id=<%= reply.id %>"
      class="btn btn-outline-secondary rounded-pill text-black ms-2"
    >
      <i class="fa-solid fa-comment"></i>
    </a>
     <button
      class="btn btn-outline-success rounded-pill ms-2"
      onclick="sendPostRequest(undefined, undefined, undefined, '<%= reply.id %>', '<%= reply.user._id %>', '<%= reply.title %>')"
    >
      <i class="fa-solid fa-recycle"></i>
    </button>
    <button class="btn btn-outline-info rounded-pill ms-2" onclick='share("/?id=$<%= reply.id %>")'><i class="fa-solid fa-share"></i></button>

  </div>
</div>
<% }); %> <% } %> <%- include("partials/footer.ejs") %>
<script>
fetch(`/user/check?id=${token}`)
  .then((res) => res.json())
  .then((check) => {
    if (check.check === true) {
      logout();
    }
    name = check.user.name;
    username = check.user.username;

    id = check.user.id;
    const followBtn = document.getElementById("follow");
    fetch(`/user/follow/<%= post.user.username %>?myname=${username}`)
      .then((res) => res.json())
      .then((check) => {
        if (check.isFollowing) {
          followBtn.innerText = "Remove";
          followBtn.classList.remove("btn-outline-success");
          followBtn.classList.add("btn-outline-danger");
        }
      });

    if ("<%= post.user.username %>" === username) {
      followBtn.remove();
      // Membuat elemen <a> untuk tombol
      let profileLink = document.createElement("a");

      // Menetapkan atribut href ke URL profil dengan username
      profileLink.setAttribute("href", "/profile/" + username);

      // Menambahkan kelas Bootstrap untuk tampilan tombol
      profileLink.classList.add("btn", "btn-outline-warning", "rounded-pill");
      // Menambahkan teks atau konten di dalam tombol
      profileLink.textContent = "Edit";

      // Menambahkan elemen ke dalam DOM (misalnya, ke dalam div dengan id "buttonContainer")
      document.getElementById("top").appendChild(profileLink);
        let bookmarkLink = document.createElement("a");

        // Menetapkan atribut href ke URL profil dengan username
        bookmarkLink.setAttribute("href", "/bookmark?username=" + username);

        // Menambahkan kelas Bootstrap untuk tampilan tombol
        bookmarkLink.classList.add("btn", "btn-outline-secondary", "rounded-pill", "ms-1");
        // Menambahkan teks atau konten di dalam tombol
        bookmarkLink.innerHTML = '<i class="fa-solid fa-bookmark"></i>';

        // Menambahkan elemen ke dalam DOM (misalnya, ke dalam div dengan id "buttonContainer")
        document.getElementById("top").appendChild(bookmarkLink);
    }
  });

</script>
