<%- include("partials/header.ejs") %>
<div>
  <div class="p-3 border-light rounded-0 pb-0">
    <div class="d-flex align-items-center" id="top">
      <img
        src="<%= posts.posts[0].user.pp %>"
        class="rounded-circle"
        style="max-height: 100px; border: 2px solid var(--accent1)"
      />
      <div class="d-flex flex-column ms-2 me-auto">
        <!-- ms-2 untuk margin kiri 2, me-auto untuk margin kanan otomatis -->
        <h3 class="h2" style="margin-bottom: 3px">
          <%= posts.posts[0].user.name %>
        </h3>
        <p style="margin-bottom: 5px" class="text-secondary">
          @<%= posts.posts[0].user.username %>
        </p>
        <p style="margin-bottom: 0">
          <%= posts.posts[0].user.desc != "" ? posts.posts[0].user.desc : "" %>
        </p>
      </div>

      <button
        class="btn btn-outline-success rounded-pill ms-0 p-3 pt-1 pb-1"
        style="height: fit-content; font-size: larger"
        onclick="followPost('<%= posts.posts[0].user.username %>')"
        id="follow"
      >
        Follow
      </button>
    </div>
    <div class="d-flex mt-3" style="padding-left: 5px">
      <p style="color: var(--accent1)">
        <i class="fa-solid fa-user-group"></i> <%=
        posts.posts[0].user.following.length %> following
      </p>
      <p class="ms-2" style="color: var(--accent2)">
        <i class="fa-solid fa-user-group"></i> <%=
        posts.posts[0].user.followers.length %> followers
      </p>
    </div>
  </div>

  <% posts.posts.forEach((post) => { %>
  <div class="card bg-dark text-white p-3 border-light post rounded-0">
    <a
      href="/user/details/<%= post.user.username %>"
      class="d-flex align-items-center"
    >
      <img src="<%= post.user.pp %>" class="pfp rounded-circle" />
      <div class="d-flex flex-column ms-2 me-auto pt-2">
        <!-- ms-2 untuk margin kiri 2, me-auto untuk margin kanan otomatis -->
        <h4>
          <%= post.user.name %> <%= post.reQuote ? `is Requote to
          ${post.reQuote.user.name}` : "" %>
        </h4>
        <h4 class="text-secondary"><%= post.time %></h4>
      </div>
    </a>
    <h3 class="h4 mt-2"><%= post.title %></h3>
    <% if(post.img) { %>
    <img
      style="border-radius: 2% !important"
      class="mb-3"
      src="<%= post.img %>"
      onerror="this.remove()"
    />
    <% } %> <% if(post.reQuote) { %>
    <div
      class="card bg-dark text-white p-3 pt-2 mb-2 mt-2 border-1 border-light"
    >
      <a href="/?id=<%= post.reQuote.id %>">
        <article class="d-flex pt-2">
          <img class="pfp rounded-circle" src="<%= post.reQuote.user.pp %>" />
          <div class="ms-2">
            <h4 class="mb-1"><%= post.reQuote.user.name %></h4>
            <h5 class="text-secondary"><%= post.reQuote.time %></h5>
          </div>
        </article>
        <h3 class="ms-2 h4 mt-2">
          <%= post.reQuote.title.replace(/<[^>]+>/g, "") %>
        </h3>
        <% if(post.reQuote.img) { %>
        <img
          style="border-radius: 2% !important"
          src="<%= post.reQuote.img %>"
        />
        <% } %>
      </a>
    </div>
    <% } %>
    <div class="d-flex mb-2">
      <button
        class="btn btn-outline-danger rounded-pill"
        onclick="sendLikeRequest('<%= JSON.stringify(post) %>', this)"
      >
        <i class="fa-solid fa-heart"></i> <%= post.like.total %>
      </button>
      <a
        href="#reply"
        class="btn btn-outline-secondary rounded-pill text-black ms-2"
      >
        <i class="fa-solid fa-comment"></i> Reply
      </a>
      <button
        class="btn btn-outline-success rounded-pill ms-2"
        onclick="sendPostRequest(undefined, undefined, undefined, '<%= post.id %>', '<%= JSON.stringify(post) %>')"
      >
        <i class="fa-solid fa-recycle"></i> Repost
      </button>
    </div>
  </div>
  <% }); %>
</div>
<%- include("partials/footer.ejs") %>

<script>
  const followBtn = document.getElementById("follow");
  fetch(`/user/follow/<%= posts.posts[0].user.username %>?myname=${username}`)
    .then((res) => res.json())
    .then((check) => {
      if (check.isFollowing) {
        followBtn.innerText = "Unfollow";
        followBtn.classList.remove("btn-outline-success");
        followBtn.classList.add("btn-outline-danger");
      }
    });

  if ("<%= posts.posts[0].user.username %>" === username) {
    followBtn.remove();
    // Membuat elemen <a> untuk tombol
    let profileLink = document.createElement("a");

    // Menetapkan atribut href ke URL profil dengan username
    profileLink.setAttribute("href", "/profile/" + username);

    // Menambahkan kelas Bootstrap untuk tampilan tombol
    profileLink.classList.add("btn", "btn-outline-warning", "rounded-pill");
    // Menambahkan teks atau konten di dalam tombol
    profileLink.textContent = "Edit";

    // Menambahkan elemen ke dalam DOM (misalnya, ke dalam div dengan id "buttonContainer")
    document.getElementById("top").appendChild(profileLink);
  }
</script>
