<%- include("partials/header.ejs") %>
<div id="loading-screen" class="d-none">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Loading...</p>
</div>
<div>
  <div class="p-3 border-light rounded-0 pb-0">
    <div class="d-flex align-items-center" id="top">
      <button class="btn btn-outline-light m-2 ms-0 pb-0 pt-0 text-center" onclick="history.back()" style="border: none !important; height: fit-content">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <img src="<%= user.user.pp %>" class="rounded-circle pfp" />
      <div class="d-flex flex-column ms-2 me-auto">
        <!-- ms-2 untuk margin kiri 2, me-auto untuk margin kanan otomatis -->
        <h5 style="margin-bottom: 3px"><%= user.user.name %></h5>
        <p style="margin-bottom: 5px" class="text-secondary">@<%= user.user.username %></p>
      </div>

      <button class="btn btn-outline-success rounded-pill ms-0 p-3 pt-1 pb-1" style="height: fit-content; font-size: larger" onclick="followPost('<%= user.user.username %>')" id="follow">Follow</button>
    </div>
    <p class="mt-2"><%= user.user.desc != "" ? user.user.desc : "" %></p>
    <div class="d-flex mt-3" style="padding-left: 5px">
      <p><strong><%= user.user.following.length %></strong> following</p>
      <p class="ms-2"><strong><%= user.user.followers.length %></strong> followers</p>
    </div>
  </div>
  <div id="post-container"></div>
</div>
<%- include("partials/footer.ejs") %>
<script>
  let currentPage = 1;
  const postsPerPage = 10; // Adjust as needed
  async function fetchPosts(page) {
    try {
      const url = new URL(window.location.href);

      // Ambil parameter pencarian dari query string
      const search = url.searchParams.get("search")?.replace("#", "") || "";
      const response = await fetch(`/get/user/post/<%= user.user.username %>?page=${page}&limit=${postsPerPage}${search !== null ? `&search=${search}` : ""}`);
      const data = await response.json();
      return data.posts.posts;
    } catch (error) {
      console.error("Error fetching posts:", error);
      return [];
    }
  }
  fetch(`/user/check`, {
    headers: { Authorization: `Bearer ${token}` },
  })
    .then((res) => res.json())
    .then((check) => {
      if (check.check === true) {
        logout();
      }
      name = check.user.name;
      username = check.user.username;

      id = check.user.id;
      const followBtn = document.getElementById("follow");
      fetch(`/user/follow/<%= user.user.username %>?myname=${username}`)
        .then((res) => res.json())
        .then((check) => {
          if (check.isFollowing) {
            followBtn.innerText = "Remove";
            followBtn.classList.remove("btn-outline-success");
            followBtn.classList.add("btn-outline-danger");
          }
        });

      if ("<%= user.user.username %>" === username) {
        followBtn.remove();
        // Membuat elemen <a> untuk tombol
        let profileLink = document.createElement("a");

        // Menetapkan atribut href ke URL profil dengan username
        profileLink.setAttribute("href", "/settings/" + username);

        // Menambahkan kelas Bootstrap untuk tampilan tombol
        profileLink.classList.add("btn", "btn-outline-white", "rounded-pill", "border-0");
        // Menambahkan teks atau konten di dalam tombol
        profileLink.innerHTML = '<i class="fa-solid fa-gear"></i>';
        let bookmarkLink = document.createElement("a");
        bookmarkLink.setAttribute("id", "bookmarkLink");
        bookmarkLink.classList.add("btn", "btn-outline-warning", "text-warning", "rounded-pill", "border-0");
        bookmarkLink.innerHTML = '<i class="fa-solid fa-bookmark"></i>';
        // Menambahkan elemen ke dalam DOM (misalnya, ke dalam div dengan id "buttonContainer")
        document.getElementById("top").appendChild(bookmarkLink);
        document.getElementById("top").appendChild(profileLink);
        document.getElementById("bookmarkLink").setAttribute("href", `/bookmark?username=<%= user.user.username %>`);
      }
    });
</script>
<script src="/homepage.js"></script>
