<%- include("partials/header.ejs") %>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="<%= posts.posts[0].user.pp %>" />
<meta property="og:type" content="On Texter" />
<meta name="application-name" content="Texter" />
<meta property="og:title" content="See <%= posts.posts[0].user.name %>" />
<meta name="twitter:description" content="<%= posts.posts[0].user.desc != "" ?
posts.posts[0].user.desc : "" %>" />
<div id="loading-screen" class="d-none">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Loading...</p>
</div>
<div>
  <div class="p-3 border-light rounded-0 pb-0">
    <div class="d-flex align-items-center" id="top">
      <img
        src="<%= posts.posts[0].user.pp %>"
        class="rounded-circle"
        style="height: 70px; width: 70px; border: 2px solid var(--accent1)"
      />
      <div class="d-flex flex-column ms-2 me-auto">
        <!-- ms-2 untuk margin kiri 2, me-auto untuk margin kanan otomatis -->
        <h3 class="h2" style="margin-bottom: 3px">
          <%= posts.posts[0].user.name %>
        </h3>
        <p style="margin-bottom: 5px" class="text-secondary">
          @<%= posts.posts[0].user.username %>
        </p>
      </div>

      <button
        class="btn btn-outline-success rounded-pill ms-0 p-3 pt-1 pb-1"
        style="height: fit-content; font-size: larger"
        onclick="followPost('<%= posts.posts[0].user.username %>')"
        id="follow"
      >
        Follow
      </button>
    </div>
    <p class="mt-2">
      <%= posts.posts[0].user.desc != "" ? posts.posts[0].user.desc : "" %>
    </p>
    <div class="d-flex mt-3" style="padding-left: 5px">
      <p style="color: var(--accent1)">
        <i class="fa-solid fa-user-group"></i> <%=
        posts.posts[0].user.following.length %> following
      </p>
      <p class="ms-2" style="color: var(--accent2)">
        <i class="fa-solid fa-user-group"></i> <%=
        posts.posts[0].user.followers.length %> followers
      </p>
    </div>
  </div>

  <% posts.posts.forEach((post) => { %>
  <div class="card bg-dark text-white p-3 border-light post rounded-0">
    <% if(post.repost) { %>
    <p class="text-secondary mb-1 ms-1">
      <i class="fa-solid fa-recycle"></i> <%= post.user.name %> was reposted
    </p>
    <% } %>
    <a href="/?id=<%= post.id %>">
      <article class="d-flex align-items-center">
        <img
          src="<%= post.repost ? post.repost.pp : post.user.pp %>"
          class="pfp rounded-circle"
        />
        <div class="d-flex flex-column ms-2 me-auto pt-2">
          <!-- ms-2 untuk margin kiri 2, me-auto untuk margin kanan otomatis -->
          <h4><%= post.repost ? post.repost.name : post.user.name %></h4>
          <h4 class="text-secondary"><%= post.time %></h4>
        </div>
      </article>
      <h3 class="h4 mt-2">
        <%- post.title.replace(/#(\w+)/g, '<a href="/?search=$1" class="text-info">$&</a>') %>
      </h3>
      <% if(post.img) { %>
    <% if(post.img.includes(".mp4") || post.img.includes(".ogg")) { %>
      <video height="450" class="mb-3 border-light" loop style="border-radius: 2% !important; width: 100%;" controls>
        <source src="<%= post.img %>" type="video/mp4">
      </video>
      <% }else { %>
      <img
        style="border-radius: 2% !important"
        class="mb-3 border-light"
        src="<%= post.img %>"
      />
  <% }} %> <% if(post.reQuote) { %>
  <div class="card bg-dark text-white p-3 pt-2 mb-2 mt-2 border-1 border-light">
    <a href="/?id=<%= post.reQuote.id %>">
      <article class="d-flex pt-2">
        <img class="pfp rounded-circle" src="<%= post.reQuote.user.pp %>" />
        <div class="ms-2">
          <h4 class="mb-1"><%= post.reQuote.user.name.replace(/<[^>]+>/g, "") %></h4>
          <h5 class="text-secondary"><%= post.reQuote.time %></h5>
        </div>
      </article>
      <h3 class="ms-2 h4 mt-2">
        <%= post.reQuote.title.replace(/<[^>]+>/g, "") %>
      </h3>
      <% if(post.reQuote.img) { %>
    <% if(post.reQuote.img.includes(".mp4") || post.reQuote.img.includes(".ogg")) { %>
      <video height="450" class="border-light" loop style="border-radius: 2% !important; width: 100%;" controls>
        <source src="<%= post.reQuote.img %>" type="video/mp4">
      </video>
      <% }else { %>
      <img
      class="border-light"
        style="border-radius: 2% !important"
        src="<%= post.reQuote.img %>"
      />
  <% }} %> 
    </a>
  </div>
  <% } %>
      <div class="d-flex mb-2">
        <button
          class="btn btn-outline-danger rounded-pill"
          onclick="sendLikeRequest('<%= JSON.stringify(post) %>', this)"
        >
          <i class="fa-solid fa-heart"></i> <%= post.like.users.length %>
        </button>
        <a
          href="#reply"
          class="btn btn-outline-secondary rounded-pill text-black ms-2"
        >
          <i class="fa-solid fa-comment"></i> Reply
        </a>
        <button
          class="btn btn-outline-success rounded-pill ms-2"
          onclick="sendPostRequest(undefined, undefined, undefined, '<%= post.id %>', '<%= post.user._id %>', '<%= post.title %>')"
        >
          <i class="fa-solid fa-recycle"></i>
        </button>
        <button
          class="btn btn-outline-info rounded-pill ms-2"
          onclick='share("/?id=$<%= post.id %>")'
        >
          <i class="fa-solid fa-share"></i>
        </button>
      </div>
    </a>
  </div>
  <% }); %>
</div>
<%- include("partials/footer.ejs") %>

<script>
  fetch(`/user/check?id=${token}`)
    .then((res) => res.json())
    .then((check) => {
      if (check.check === true) {
        logout();
      }
      name = check.user.name;
      username = check.user.username;

      id = check.user.id;
      const followBtn = document.getElementById("follow");
      fetch(
        `/user/follow/<%= posts.posts[0].user.username %>?myname=${username}`
      )
        .then((res) => res.json())
        .then((check) => {
          if (check.isFollowing) {
            followBtn.innerText = "Remove";
            followBtn.classList.remove("btn-outline-success");
            followBtn.classList.add("btn-outline-danger");
          }
        });

      if ("<%= posts.posts[0].user.username %>" === username) {
        followBtn.remove();
        // Membuat elemen <a> untuk tombol
        let profileLink = document.createElement("a");

        // Menetapkan atribut href ke URL profil dengan username
        profileLink.setAttribute("href", "/profile/" + username);

        // Menambahkan kelas Bootstrap untuk tampilan tombol
        profileLink.classList.add("btn", "btn-outline-warning", "rounded-pill");
        // Menambahkan teks atau konten di dalam tombol
        profileLink.textContent = "Edit";

        // Menambahkan elemen ke dalam DOM (misalnya, ke dalam div dengan id "buttonContainer")
        document.getElementById("top").appendChild(profileLink);
      }
    });
</script>
